# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
server

*.jar
docs
src/main/kotlin/hiiragi283/ragi_materials/unused